@charset "utf-8";


@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
    src: url(../font/NotoSansKR-Thin.woff2) format('woff2');
	src: url(../font/NotoSansKR-Thin.woff) format('woff');
	src: url(../font/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
    src: url(../font/NotoSansKR-Light.woff2) format('woff2');
	src: url(../font/NotoSansKR-Light.woff) format('woff');
	src: url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2');
	src: url(../font/NotoSansKR-Regular.woff) format('woff');
	src: url(../font/NotoSansKR-Regular.otf) format('opentype');
}


@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2');
	src: url(../font/NotoSansKR-Medium.woff) format('woff');
	src: url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2');
	src: url(../font/NotoSansKR-Bold.woff) format('woff');
	src: url(../font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
    src: url(../font/NotoSansKR-Black.woff2) format('woff2');
	src: url(../font/NotoSansKR-Black.woff) format('woff');
	src: url(../font/NotoSansKR-Black.otf) format('opentype');
}





*{box-sizing: border-box;}
html, body {
    height: 100%;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    -webkit-text-size-adjust: none;
    color: #666;

	padding: 0;
	margin: 0; 
	font-family: 'Noto Sans KR', 'Dotum', 'arial', 'sans-serif';
	font-family: '맑은 고딕', 'Malgun Gothic', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, sans-serif;
}